<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <div class="row">
                <div class="col-xs-8 col-sm-10 col-md-offset-5">
                    <div class="row">
                        <nav class="affix col-xs-2 col-sm-2 col-md-2">
                            <div class="row">
                                <div class="col-md-11">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li ng-repeat="nav in navs" ng-class="{'active': is_nav_selected(nav)}">
                                            <a href="{{nav.link}}">
                                                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> {{nav.text}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-2"></div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row well well-sm">
                        <div id="echart_bd_clients" class="mini-xs-layout"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>