/*
* author: panda
* updated: 2015/11/18
*/

/*!
 * the css which is made by ourselves
 *
 */
 /* set the ng-view's min-height in the index.html
-------------------------------------------------- */
.minc{
    min-height:500px;
}

/* set the margin whe the row is two small
 * using in the bandwidth.html
-------------------------------------------------- */
.minmargin{
    min-height:40px;margin-top:15px;
}

.widget.box .widget-content{
	padding:13px;
	background-color:#fff

}

.widget.box .widget-content.no-padding{
	padding:0
}

.widget.box .widget-content.no-padding .row{
	padding-left:15px;
	padding-right:15px
}

.widget.box .widget-content.widget-deeper{
	background-color:#f9f9f9;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05) inset;
	box-shadow:0 1px 1px rgba(0,0,0,0.05) inset
	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}

.widget.box.box-shadow{
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.05);
	box-shadow:0 1px 1px rgba(0,0,0,0.05);
	border-bottom-color:#ccc
	behavior: url(ie-css3.htc);
}
ul.stats{
	display:table;
	table-layout:fixed;
	min-height:80px;
	margin:0;
	padding:5;
	margin-bottom:10px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#eee;
	behavior: url(ie-css3.htc);
}

ul.stats li{
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	text-align:center;
	margin: 0 auto;
	behavior: url(ie-css3.htc);


}

ul.stats li{
	display:table-cell;
	padding:19px;
	line-height:24px;

}

ul.stats li:last-child{
	border-right:0
}

ul.stats li strong{
	padding:5px 0;
	display:inline;
	text-align:center;
	line-height:18px;
	color:#08c
}
ul.stats li small{
	padding:5px 0;
	display:inline;
	text-align:center;
	font-size:11px;
	color:#adadad
}

ul.stats li strong{
	font-size:25px;
	font-weight:bold;

}

ul.stats li>div{
	margin:8px auto
}

.marign-small-right {
	margin-right: 20px;
}
.marign-medium-right {
	margin-right: 40px;
}


/* Mini layout previews
-------------------------------------------------- */
.mini-sm-layout {
	height: 300px;
}

.mini-xs-layout {
	height: 160px;
}

.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
	height: 400px;
}
.mini-layout {
	margin-bottom: 20px;
	padding: 9px;
}
.mini-sm-layout {
	 margin-bottom: 5px;
	 padding: 5px;
 }
.mini-layout .mini-sm-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.mini-layout .mini-sm-layout .mini-layout-body {
	background-color: #dceaf4;
	margin: 0 auto;
	width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
	float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
	background-color: #bbd8e9;
	width: 20%;
}
.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}

/* Clear col padding distance
-------------------------------------------------- */
.clear-col-padding-left-distance {
    padding-left: 0;
}

.clear-col-padding-right-distance {
    padding-right: 0;
}

.set_ng_bs_alert_padding_left {
    padding-left: 10px;
}

.monitor_tag_label {
	 display: inline-block;
	 padding:5px;
	 border:1px solid #f1f1f1;
	 background:#f1f1f1;
	 color:#333;
	 border-radius:3px;
	 margin-right: 5px;
	 margin-bottom: 5px;
 }

.label_list {
	position: relative;
	width: 82px;
	height: 33px;
}

.label_list .list-group {
	position: absolute;
	left: 0;
	top: 100%;
}

.label_list .list-group li {
	text-align: left;
	cursor: pointer;
	padding: 6px 15px;
}

.label_btn {
	border: 1px solid #ccc;
	border-radius: 0;
}

.monitor_label {
	position: relative;
	width: 71px;
	height: 31px;
}

.monitor_label button {
	padding: 5px 20px;
	background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #fff;
}

.monitor_label > ul {
	position: absolute;
	left: 0;
	top: 110%;
}

.monitor_label > ul li {
	cursor: pointer;
	padding: 0;
}

.monitor_label > ul li a {
	display: block;
	padding: 6px 15px;
	color: #000;
}

.monitor_label > ul li:hover {
	background: #f9f9f9;
}

/* ngtable 页脚style */
.ng-table-pagination {
	margin: 0;
}

.ng-table-pager {
	overflow: hidden;
}

table th, table td {
	text-align: center;
}

.monitor_search_query {
	margin-right: 10px;
	border-radius: 15px;
}
/* pagination */
.page-limit {
	width: 220px;
	font-size: 12px;
	padding-top: 29px;
	padding-left: 10px;
}
.page-limit span {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 5px 8px;
	border-radius: 4px;
	background: #fff;
	color: #428bca;
	margin-left: 3px;
	cursor: pointer;
}
.page-limit span:hover {
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd;
}
.page-limit span.active {
	background: #428bca;
	color: #fff;
	border-color: #428bca;
}
.page-mini .page-limit {
	padding-top: 15px;
}
.page-mini .pageWithLimit {
	margin: 5px 0 5px -220px;
}
.pageWithLimit {
	margin-left: -220px;
}
.pagination > li > a,
.pagination > li > span {
	padding: 5px 10px;
}
.marL20 {margin-left: 20px;}
.marR20 {margin-right: 20px;}
.marT20 {margin-top: 20px;}
.marT5 {margin-top: 5px;}